body{
    font-size: 16px;
    background-color: rgb(217, 216, 216);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.italic{
    font-style: italic;
}
.bold{
    font-weight: bold;
}
.pink{
    color: hotpink;
}
.under{
    text-decoration: underline;
}

.header{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: solid 1px;
}

.mainbody{
    top: 114px;
    left: 5px;
    right: 5px;
    bottom: 39px;
    border-bottom: solid 1px;
}

.footer{
    left: 5px;
    right: 5px;
    bottom: 5px;
    height: 25px;
    font-size: 8px;
  
    text-align: center;
    padding-top: 15px;
    position: fixed;
}